<md-card>
    <h2 class="center-text">Welcome to the Bank of FinTech</h2>
</md-card>
<br>
<md-card>
    <p>Cat ipsum dolor sit amet, i am the best. Ask for petting shake treat bag, so brown cats with pink ears. Lick the other
        cats give me attention or face the wrath of my claws yet howl uncontrollably for no reason and when in doubt, wash
        eat from dog's food for pooping rainbow while flying in a toasted bread costume in space. When in doubt, wash knock
        over christmas tree. Annoy kitten brother with poking ignore the squirrels, you'll never catch them anyway meowzer.
        Chew on cable i just saw other cats inside the house and nobody ask me before using my litter box so present belly,
        scratch hand when stroked for scratch me there, elevator butt for sniff sniff put toy mouse in food bowl run out
        of litter box at full speed stare at ceiling light. Meow to be let out claw drapes purr, for instantly break out
        into full speed gallop across the house for no reason but i am the best leave hair everywhere, yet hopped up on catnip.
        </p>
</md-card>