/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    margin: 0%;
    background-color: gray;
    background-image: url('./assets/images/city.jpg');
    background-size: cover;
}

.rout-out {
    margin: 2em;
}

.primary-text {
    color: #673ab7!important;
}

.accent-text {
    color: #ffd740!important;
}

.white-text {
    color: white!important;
}

.primary-background {
    background-color: #673ab7!important;
}

.accent-background {
    background-color: #ffd740!important;
}

.nav-bar-spacer {
    flex: 1 1 auto;
}

.center-text {
    text-align: center;
}

.center {
    /*display: block;*/
    margin: auto;
    text-align: center;
}